body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fff;
}


.modal-overlay {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.05); 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.modal-box {
    background: white; 
    padding: 25px; 
    border-radius: 15px; 
    width: 450px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.title-prompt { 
    font-size: 18px; 
    margin-top: 0; 
}

.label-prompt { 
    font-size: 14px; 
    margin-bottom: 8px; 
}

.input-field {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px;
    border: 2px solid #0b57d0; 
    border-radius: 10px; 
    box-sizing: border-box; 
    outline: none;
}

.button-group { 
    display: flex; 
    justify-content: flex-end; 
    gap: 10px; 
}

.btn { 
    padding: 10px 30px; 
    border-radius: 20px; 
    cursor: pointer; 
    font-weight: bold; 
    border: none; 
}

.btn-oke { 
    background: #0b57d0; 
    color: white; 
}

.btn-batal { 
    background: white; 
    color: #0b57d0; 
    border: 1px solid #ddd; 
}


.container-main { 
    max-width: 800px; 
    margin: 0 auto; 
    text-align: justify; 
}

.intro-text {
    color: black; 
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}

.header-uud { 
    color: #a000ff; 
    text-align: center; 
    font-size: 20px; 
    margin: 30px 0;
}

.hl-purple { 
    background-color: #ff00ff; 
    font-weight: bold; 
}

.hl-red    { 
    background-color: #ff0000; 
    font-weight: bold; 
}

.hl-green  { 
    background-color: #00ff00; 
    font-weight: bold; 
}

.hl-blue   { 
    background-color: #0000ff; 
    color: white; 
    font-weight: bold; 
}


.pancasila-section { 
    margin-top: 40px; 
    text-align: center; 
}
.pancasila-section h3 { 
    font-weight: bold; 
    margin-bottom: 10px; 
}
.pancasila-section ol { 
    display: inline-block; 
    text-align: left;
}
.pancasila-section li { 
    margin-bottom: 5px; 
}